doctype html

html.h-100(lang="en")
    include includes/head
    body.h-100.font-roboto
        div.modal.fade#modal-add(tabindex="-1" role="dialog")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        h5.modal-title Add Teacher
                        button.close(type="button" data-dismiss="modal")
                            span x
                    div.modal-body
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Teacher #
                                input.form-control#add-teacherNumber(type="text" placeholder="Teacher Number")
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Name
                                input.form-control#add-name(type="text" placeholder="Name")
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Birth Date
                                input.form-control#add-birthday(type="date")
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Gender
                                select.form-control#add-gender
                                    option Other
                                    option Male
                                    option Female
                        div.form-group.mb-0
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Email
                                input.form-control#add-email(type="email" placeholder="Email")
                    div.modal-footer
                        button.btn.btn-success.mr-auto.w-25#modal-add-btn Add
        div.modal.fade#modal-edit(tabindex="-1" role="dialog")
            div.modal-dialog(role="document")
                div.modal-content
                    div.modal-header
                        h5.modal-title Edit Teacher
                        button.close(type="button" data-dismiss="modal")
                            span x
                    div.modal-body
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Teacher #
                                input.form-control#edit-teacherNumber(type="text" placeholder="Teacher Number")
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Name
                                input.form-control#edit-name(type="text" placeholder="Name")
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Birth Date
                                input.form-control#edit-birthday(type="date")
                        div.form-group
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Gender
                                select.form-control#edit-gender
                                    option Other
                                    option Male
                                    option Female
                        div.form-group.mb-0
                            div.input-group
                                div.input-group-prepend.w-25
                                    div.input-group-text.w-100 Email
                                input.form-control#edit-email(type="email" placeholder="Email")
                    div.modal-footer
                        button.btn.btn-info.mr-auto.w-25#modal-edit-btn Edit

        div.container-fluid.m-0.p-0.h-100
            include includes/header
            if session.ID != null
                div.p-5.position-absolute.bottom-0px.top-76px.left-0px.right-0px
                    div.container.rounded.p-4.bg-light.shadow.h-max-100.d-flex.flex-flow-column
                        h2.mb-3.text-dark
                            span.border-bottom-3px.border-top-3px.border-dark.px-2 Teachers
                        include includes/add_edit_delete_btns
                        div.table-responsive.rounded.dark-scroll
                            table(data-table="teachers").table.table-bordered.table-hover.table-dark.nowrap.m-0#table
                                thead
                                    tr.table-headers
                                        th(scope="col" data-field="ID").position-sticky.top-0px.bg-darkest.shadow-top-solid-1px.shadow-bottom-dark-1px.shadow-top-dark-1px.shadow-right-dark-1px.shadow-left-dark-1px #
                                        th(scope="col" data-field="teacherNumber").position-sticky.top-0px.bg-darkest.shadow-top-solid-1px.shadow-bottom-dark-1px.shadow-top-dark-1px.shadow-right-dark-1px Teacher Number
                                        th(scope="col" data-field="name").position-sticky.top-0px.bg-darkest.shadow-top-solid-1px.shadow-bottom-dark-1px.shadow-top-dark-1px.shadow-right-dark-1px Name
                                        th(scope="col" data-field="birthday" data-is-age="true").position-sticky.top-0px.bg-darkest.shadow-top-solid-1px.shadow-bottom-dark-1px.shadow-top-dark-1px.shadow-right-dark-1px Age
                                        th(scope="col" data-field="gender").position-sticky.top-0px.bg-darkest.shadow-top-solid-1px.shadow-bottom-dark-1px.shadow-top-dark-1px.shadow-right-dark-1px Gender
                                        th(scope="col" data-field="email").position-sticky.top-0px.bg-darkest.shadow-top-solid-1px.shadow-bottom-dark-1px.shadow-top-dark-1px.shadow-right-dark-1px Email
                                tbody
                                    each teacher in teachers
                                        if teacher.birthday instanceof Date
                                            - var age = teacher.birthday instanceof Date ? new Date(new Date() - teacher.birthday).getFullYear() - 1970 : new Date(0);
                                            - var formatted_date = teacher.birthday instanceof Date ? teacher.birthday.getFullYear() + "-" + ("0" + (teacher.birthday.getMonth() + 1)).slice(-2) + "-" + ("0" + teacher.birthday.getDate()).slice(-2) : "0000-00-00";
                                        else
                                            - var age = 0;
                                            - var formatted_date = "0000-00-00";
                                        tr.table-row
                                            th(scope="row").id-field= teacher.ID
                                            td= teacher.teacherNumber
                                            td= teacher.name
                                            td(data-date=formatted_date)= age
                                            td= teacher.gender
                                            td= teacher.email
            else
                include includes/loginErrorMessage
            footer.fixed-bottom
                span.bg-light.p-2 Made by: Vasco Raminhos©

        include includes/scripts